<div class="container">
  <br>
  <h1>My bookings:</h1>
  <ul>
    <% @my_booking.each do |booking| %>
      <li>From <%= p booking.starting_date%> until  <%= p booking.end_date%> for <%= link_to booking.bike.title, bike_path(booking.bike)%> <i class="far fa-paper-plane"></i> The request is <%=booking.confirmation_status%></li>
    <%end%>
  </ul>
  <h1> Pending bike requests: </h1>
  <ul>
  <% @booking.each do |booking| %>
    <li><%= booking.user.email%> would like to rent my bike from <%= p booking.starting_date%> until  <%= p booking.end_date%> for <%= link_to booking.bike.title, bike_path(booking.bike)%> <i class="far fa-paper-plane"></i> The request is <%=booking.confirmation_status%></li>
  <%end%>
  </ul>
</div>
