<div class="container-booking">
  <br>

  <ul class="list-inline tabs-underlined justify-content-center">
    <li class="tab-underlined tablinks" onclick="openCity(event, 'Mybookings')">My Bookings</li>
    <li class="tab-underlined tablinks" onclick="openCity(event, 'PendingRequests')">Pending Bike Requests</li>
  </ul>
</div>
<div id="Mybookings" class="tabcontent">
    <% @my_booking.each do |booking| %>
    <div class="card-product m-3">
      <% if booking.bike.photo.attached?%>
        <%= cl_image_tag booking.bike.photo.key %>
      <% else %>
        <%= image_tag "bike_placeholder_300x300.png" %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to booking.bike.title, bike_path(booking.bike)%></h2>
        <p>From <%= p booking.starting_date%> until  <%= p booking.end_date%></p>
      </div>
    </div>
    <%end%>
</div>

<div id="PendingRequests" class="tabcontent">
 <% @booking.each do |booking| %>
  <div class="card-product m-3 ">
    <% if booking.user.photo.attached?%>
      <%= cl_image_tag booking.user.photo.key %>
    <% else %>
      <%= image_tag "bike_placeholder_300x300.png" %>
    <% end %>
    <div class="card-product-infos">
      <h2><%=booking.user.username%> would like to book your bike <%=booking.bike.title%> </h2>
      <p>From <%= p booking.starting_date%> until  <%= p booking.end_date%></p>
    </div>
  </div>
   <%end%>
</div>



<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

