<div class="container pt-3">
  <div class="d-flex flex-row">
        <div class="col-6">
            <div class="card p-3 mb-3">
              <h1 class="pl-3 text-center">About</h1>
              <% if @user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: "avatar-large mx-auto d-block pt-3"  %>
              <% else %>
                <%= image_tag "bike_placeholder_300x300.png", class: "avatar-large mx-auto d-block pt-3" %>
              <% end %>
              <p class="pl-3"><strong><%= @user.username %></strong></p>
              <p class="pl-3"><small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small></p>
              <%= link_to "Edit", edit_user_registration_path, class: "btn btn-danger ml-3 mx-auto d-block" %>
            </div>
        </div>

        <div class="col-6">
          <h2 class="text-center">My bikes for rent:</h2>
          <div class="listings">
            <%@bikes.each do |bike| %>
              <div class="card mt-0">
                <% if bike.photo.attached? %>
                  <%= cl_image_tag bike.photo.key, class: "card-img-top"  %>
                <% else %>
                  <%= image_tag "bike_placeholder_300x300.png", class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"><strong> <%= bike.title %></strong></h4>
                     <%= link_to "Details", bike_path(bike), class: "btn btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
  </div>
</div>
