<%= render 'shared/banner' %>
<br>
<div class="container">
  <h1>Bikes of the day</h1>
<hr>
  <div class="card-wrapper">
    <% @bikes.limit(3).each do |bike| %>
      <div class="card">
          <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key, class: "card-img-top"  %>
          <% else %>
            <%= image_tag "bike_placeholder_300x300.png", class: "card-img-top" %>
          <% end %>
          <div class="username text-center pt-3"> <%= bike.user.username %> </div>
          <div class="card-body">
            <h4 class="card-title"><strong> <%= bike.title %></strong></h4>
            <p class="card-text"><%=bike.description%></p>
           <%= link_to "Details", bike_path(bike), class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
