<br>
<br>
<div class="container-sm">
  <br>
  <h1> Edit this Bike </h1>
  <%= simple_form_for @bike do |f| %>
    <%= f.input :title, label: "Title"%>
    <%= f.input :description, size: 200, label: "Description:"%>
    <%= f.input :district_id, label: "District", collection: @districts %>
    <%= f.input :category, label: "Category:", collection: @categories%>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Edit your Bike now", class: "btn btn-danger mb-2"%>
  <%end%>
  <%= link_to  "Delete", bike_path ,method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete' }%>
</div>
<br>
<br>
<br>
