<div class="container">
  <br>
  <h1 class="text-center">Fluffy bikes available <%= image_tag "giphy.gif", style: 'height:50px;width:50px;' %></h1>
<br>

 <div class="container pt-3 mb-3">
    <div class="row justify-content-center">
       <div class="col-12 col-md-6 col-lg-4">
  <%= form_tag bikes_path, method: :get, id: "form_adj" do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a bike"
      %>
  </div>

      <div class="search-form-control form-group">
      <% district = params[:district].present? ? params[:district] : "Filter by Pickup Location" %>
      <%= select_tag :district, options_for_select(["Charlottenburg-Wilmersdorf", "Friedrichshain-Kreuzberg",
            "Lichtenberg", "Marzahn-Hellersdorf", "Mitte", "Pankow", "Reinickendorf", "Spandau","Steglitz-Zehlendorf", "Tempelhof-Schöneberg",
            "Treptow-Köpenick"], district),
            class: "form-control",
            :include_blank => "Filter by Pickup Location"
          %>
      </div>

      <div class="search-form-control form-group">
      <%= select_tag :category, options_for_select(["eBike", "City Bike","Mountain Bike","Fixed Gear","Road Bike","Trecking Bike","Unicycle"]),
        class: "form-control",
        :include_blank => "Filter by Bike Category"
      %>
      </div>

      <%= submit_tag "Search", class: "btn-danger mt-3 mx-auto d-block" %>

  <% end %>

  </div>
</div>
</div>

  <br>
<hr>
  <div class="card-wrapper">
    <% @bikes.each do |bike| %>
      <div class="card">
          <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key ,class: "card-img-top"%>
          <% else %>
            <%= image_tag "bike_placeholder_300x300.png", class: "card-img-top" %>
          <% end %>
          <div class="username text-center pt-3"> <%= bike.user.username %> </div>
        <div class="card-body">
          <h4 class="card-title"><strong> <%= bike.title %></strong></h4>
          <p class="card-text"><%=bike.description%></p>
            <% if policy(bike).edit? %>
            <%= link_to "Edit my Bike", edit_bike_path(bike), class: "btn btn-outline-danger align-self-end"%>
            <% else %>
            <%= link_to "Details", bike_path(bike), class: "button btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
