<div class="container">
  <br>
  <h1 class="text-center">Fluffy bikes available <%= image_tag "giphy.gif", style: 'height:50px;width:50px;' %></h1>
  <hr>
  <div class="card-wrapper">
    <% @bikes.each do |bike| %>
      <div class="card">
          <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key ,class: "card-img-top"%>
          <% else %>
            <%= image_tag "bike_placeholder_300x300.png", class: "card-img-top" %>
          <% end %>
          <div class="username text-center"> <%= bike.user.username %> </div>
        <div class="card-body">
          <h4 class="card-title"><strong> <%= bike.title %></strong></h4>
          <p class="card-text"><%=bike.description%></p>
           <%= link_to "Deatils", bike_path(bike), class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
